*{
    margin: 0px;
    padding: 0px;
    background-color: #0A0A0A;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 3rem;
    color: aliceblue;
    opacity: 1;
}



::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  /* App.css */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;  /* or your preferred background color */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  z-index: 9999;
}
