.eduBox {
    position: relative;
    /* top: -15vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}


.stepper {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    margin-top: 10vh;
}

.step {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 40px 0;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}


.circleTwo{
    width: 40px !important;
    height: 40px !important;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.line {
    position: absolute;
    width: 4px;
    height: 45%;
    /* Increased height for a longer line */
    background-color: #007bff;
    left: 20px;
    /* Centering between steps */
    top: 80px;
    transform: translateX(-50%);
    z-index: 1;
}

.content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 1.6rem;
    font-weight: bold;

}

.details {
    font-size: 14px;
    margin-top: 5px;
    /* Space between label and details */
    max-width: 55vw;
    /* Adjust for better readability */
}



@media (max-width:768px) {
    .stepper {
        width: 80%;
    }

    .circle {
        height: 6vh !important;
        width:8vw !important;
    }
    .circleTwo {
        height: 6vh !important;
        width:7vw !important;
    }
    .line{
        height: 55%;
        /* margin-left: 5px; */
    }
    .eduBox{
        top: -15vh;
    }
}


@media (max-width:618px) {    
    .line{
        
        margin-left: -5px;
    }
    .eduBox{
        top: -15vh;
    }
 
}



@media (max-width:520px) {    
    .line{
        margin-left: -3px;
        height: 56%;
    }
    .circle {
        height: 4.5vh !important;
        width: 13vw !important;
    }
    .circleTwo {
        height: 4.5vh !important;
        width: 11vw !important;
    }
    .eduBox{
        top: -15vh;
    }
 
}

@media (max-width:442px) {    
    .line{
        margin-left: -2px;
        height: 53%;
    }
    .circle {
        height: 4.5vh !important;
        width: 23vw !important;
    }
    .circleTwo {
        height: 4.5vh !important;
        width: 19vw  !important;
    }
    .eduBox{
        top: -15vh;
    }
 
}


@media (max-width:378px) {    
    .line{
        margin-left: -4px;
        height: 58%;
    }
    .circle {
        height: 4.77vh !important;
        width: 23.5vw !important;
    }
    .circleTwo {
        height: 4.77vh !important;
        width: 20.5vw !important;
    } 
    .eduBox{
        top: -15vh;
    }
}

@media (max-width:365px) {    
    .line{
        margin-left: -4px;
        height: 82vh;
    }
    .circle {
        height: 4.77vh !important;
        width: 23.5vw !important;
    }
    .circleTwo {
        height: 4.77vh !important;
        width: 20.5vw !important;
    } 
    .eduBox{
        top: -15vh;
    }
}

@media (max-width:365px) {    
    .line{
        margin-left: -4px;
        height: 58%;
    }
    .eduBox{
        top: -15vh;
    }
   
}