.box {
  background: transparent;
}

.skills {
  color: white;
  margin: 10vh 0 5vh 0;
}

.slideTrack {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;

}

.skillsImg {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75vw;
  background: transparent;
  gap: 25px;
}

.skillsImg>img {
  background: none;
  position: relative;
  width: 5%;
  height: 100%;
}


@media (max-width:768px) {
  .skillsImg {
    flex-wrap: wrap;

  }

  .skillsImg>img {
    width: 12%;
  }
}