.skillBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillWrapper{
  width: 80%;
}

.skillTitle {
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
  font-family: math;
}

.skillConatiner {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns on large screens */
  gap: 25px;
  margin-top: 10vh;
  width: 100%;
}

/* Medium screens: 4 columns */
@media (max-width: 1600px) {
  .skillConatiner {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (max-width: 1200px) {
  .skillConatiner {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .skillConatiner {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Mobile screens: 2 columns */
@media (max-width: 768px) {
  .skillConatiner {
    grid-template-columns: repeat(2, 1fr);
  }
  .eachSkill{
      flex-direction: column;
  }
}

.eachSkill {
  background-color: rgb(40, 39, 39);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.eachSkill:hover{
  box-shadow: rgba(255, 255, 255, 0.50) 0px 0px 10.09428px 0px;
  ;
}

.imgOfskill {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
  background: none;
}