.expBox {
    position: relative;
    top: 25vh;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transform: scale(0.8); /* Initially smaller */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.containerExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin-top: 11vh;
}


@media (max-width:"768px"){
    .expBox{
        top : 15vh
    }
}