.workBox {
    position: relative;
    top: 5vh;
    margin-top: 10vh;
    display: flex;
}

.workheading {
    font-size: 5rem;
    padding-left: 10vw;
}

.detailsWork {
    text-align: center;
    margin: 5vh 0 0 15%;

}

.btnDownload {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
}
.downloadBtn{
    background: cornflowerblue;
    padding: 10px;
    border: none;
}
.video {
    width: 80%;
}

.projects {
    position: relative;
    top: 5vh;
}

.animationBox {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width:768px) {
    .workBox {
        display: flex;
        flex-direction: column;
        margin-top: 0vh;
    }

    .detailsWork {
        text-align: center;
        padding: 0 52px 0 0;
    }



}


@media (max-width:400px) {
    .workheading {
        font-size: 3rem;
    }


}